@import "./reset.css";

@font-face {
  font-weight: 400;
  font-family: TT Lakes;
  font-style: normal;
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: TT Lakes;
  font-style: normal;
  src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
}

@font-face {
  font-weight: 700;
  font-family: TT Lakes;
  font-style: normal;
  src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
}

.repaired-brands {
  max-width: 1120px;
  background-color: #F2F2F2
}

.repaired-brands__title {
  height: 56px;
  padding: 16px 32px;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFF 100%);

  color: #7E7E82;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.repaired-brands__list {
  display: grid;
  grid-template-columns: repeat(4, 240px);
  column-gap: 32px;
  row-gap: 16px;
  margin-top: 24px;
  padding-left: 32px;
  padding-right: 32px;
}

.repaired-brands__item {
  background-color: #ffffff;
  height: 72px !important; 
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding: 16px;

  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFF;
}

.repaired-brands__link {
  max-width: 40px;
  max-height: 40px;
}

.repaired-brands__read-more {
  padding-top: 46px;
  padding-left: 32px;
  padding-bottom: 14px;

  color: #1B1C21;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

@media (max-width: 1119px) {
  .repaired-brands__list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {

.repaired-brands__title {
  height: auto;
}

.repaired-brands__list {
    column-gap: 0;
    padding: 0;
    margin-top: 16px;
  }

  .swiper {
    height: 120px;
    margin: 0 16px !important;
  }

  .swiper-slide {
    display: flex !important;
  }

  .swiper-pagination {
    margin-bottom: 10px
  }

  .repaired-brands__read-more {
    display: none;
  }
}

.hidden {
  display: none;
}
